*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-yellow: #ffe119;
  --primary-blue: #0087cb;
  --primary-gray: #707070;
  --primary-black: #000000;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-gray);
  transition: var(--transition);
}

.active {
  border-bottom: 7px solid var(--primary-blue);
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}
